.breadcrumbs
  .page-header
    %h1 Gestion des structures


.content.mt-3
  .container-fluid
    .card
      .card-header
        %strong Liste des structures
        .card-actions
          = link_to new_admin_structure_path, class: "btn-setting" do
            = icon 'plus'
            Ajouter

      .card-body
        .table-responsive
          %table.table.table-striped.table-sm
            %thead
              %tr
                %th Identifiant
                %th Nom
                %th Email
                %th Téléphone
                %th Président
                %th

            - @structures.each do |structure|
              %tr
                %td= structure.id
                %td= structure.name
                %td= structure.email
                %td= structure.phone_1
                %td TODO
                %td
                  %ul.list-inline.mb-0
                    %li.list-inline-item
                      = link_to [structure, :has_memberships], class: "btn btn-sm btn-info" do
                        = icon "eye"
                        Gérer le structure
                    %li.list-inline-item
                      = link_to admin_structure_path(structure), method: :delete, data: { confirm: 'Êtes vous sûr ?' }, class: "btn btn-sm btn-danger" do
                        = icon "times"
                        Supprimer



