.card
  .card-header
    La structure
  .card-body
    %strong= structure.name
    %br
    = structure.full_address
    %hr
    %ul.fa-ul
      %li
        = icon 'envelope', class: "fa-li"
        = link_to "mailto:#{structure.email}" do
          = structure.email

      - unless structure.phone_1.blank?
        %li
          = icon 'phone', class: "fa-li"
          = structure.phone_1
      - unless structure.phone_2.blank?
        %li
          = icon 'phone', class: "fa-li"
          = structure.phone_2

  .card-footer
    = link_to [:edit, structure], class: 'btn btn-sm btn-outline-dark btn-icon' do
      = icon "edit"
      Modifier ces infos