.card
  .card-header
    La structure
  .card-body
    %strong= structure.name
    %br
    = structure.full_address
    %hr
    %ul.fa-ul.mb-3
      - if structure.email?
        %li
          = icon 'envelope', class: "fa-li"
          = link_to "mailto:#{structure.email}" do
            = structure.email

      - if structure.phone_1?
        %li
          = icon 'phone', class: "fa-li"
          = structure.phone_1
      - if structure.phone_2?
        %li
          = icon 'phone', class: "fa-li"
          = structure.phone_2

  .card-footer
    = link_to edit_structure_path(structure), class: 'btn btn-sm btn-outline-dark btn-icon' do
      = icon "edit"
      Modifier ces infos