.breadcrumbs
  .page-header
    %h1 Gérer mes structures


.content.mt-3
  .container-fluid
    .card
      .card-header
        %strong.float-left Liste des structures

        .cars-actions.float-right
          %ul.list-inline
            - if can? :add, Structure
              %li.list-inline-item
                = link_to new_structure_path, class: 'btn btn-default' do
                  = icon 'plus'
                  Ajouter
              %li.list-inline-item
                = link_to structure_import_path(:get_file), class: 'btn btn-default' do
                  = icon 'upload'
                  Import via fichier

      .card-body
        %ul.list-inline
          %li.list-inline-item
            = icon 'fire'
            Eglise
          %li.list-inline-item
            = icon 'building'
            Association
        .table-responsive
          %table.table.table-striped.table-sm
            %thead
              %tr
                %th
                %th Identifiant
                %th Nom
                %th Ville
                %th Email
                %th Téléphone
                %th Rôle
                %th

            - @structures.each do |structure|
              - if can? :view, structure
                %tr
                  %td= icon "#{structure.get_icon}"
                  %td= structure.id
                  %td= structure.name
                  %td= structure.town
                  %td= structure.email
                  %td= structure.phone_1
                  %td= structure.get_resource_role(current_user)
                  %td
                    %ul.list-inline.mb-0
                      - if can? :manage, structure
                        %li.list-inline-item
                          = link_to structure_has_memberships_path(structure), class: "btn btn-sm btn-info" do
                            = icon "eye"
                            Gérer la structure

        .float-right
          = will_paginate @structures


