.breadcrumbs
  .page-header
    %h1 Gérer mes structures


.content.mt-3
  .container-fluid
    .card
      .card-header
        %strong.float-left Liste des structures

        .cars-actions.float-right
          %ul.list-inline
            - if can? :add, Structure
              %li.list-inline-item
                = link_to new_structure_path, class: 'btn btn-default' do
                  = icon 'plus'
                  Ajouter
              %li.list-inline-item
                = link_to structure_import_path(:get_file), class: 'btn btn-default' do
                  = icon 'upload'
                  Import via fichier

      .card-body
        %ul.list-inline
          %li.list-inline-item
            = icon 'fire'
            Eglise
          %li.list-inline-item
            = icon 'building'
            Association

        = search_form_for @q do |f|
          .row.mb-3
            .col-md-3
              .form-group
                = f.label :name_cont
                = f.text_field :name_cont, class: "form-control"
            .col-md-3
              .form-group
                = f.label :town_cont
                = f.text_field :town_cont, class: "form-control"
            .col-md-3
              .form-group
                = f.label :type_eq
                = f.select :type_eq, options_for_select(Structure.types, @q.type_eq), {include_blank: " Toutes "}, class: "form-control"
            .col-md-3
              %button.btn.btn-success.mt-4{type: :submit}
                = icon "search"
                Rechercher

        .table-responsive
          %table.table.table-striped.table-sm
            %thead
              %tr
                %th
                %th Identifiant
                %th Nom
                %th Ville
                %th Email
                %th Téléphone
                %th Rôle
                %th

            - @structures.each do |structure|
              - if can? :view, structure
                %tr
                  %td= icon "#{structure.get_icon}"
                  %td= structure.id
                  %td= structure.name
                  %td= structure.town
                  %td= structure.email
                  %td= structure.phone_1
                  %td= structure.get_resource_role(current_user)
                  %td
                    %ul.list-inline.mb-0
                      - if can? :manage, structure
                        %li.list-inline-item
                          = link_to structure_has_memberships_path(structure), class: "btn btn-sm btn-info" do
                            = icon "eye"
                            Gérer la structure
                      - if can? :manage, structure
                        %li.list-inline-item
                          = link_to structure_path(structure), method: :delete, data:{confirm: 'Êtes vous sûr ?'}, class: "btn btn-danger btn-sm" do
                            = icon "times"

        .float-right
          = will_paginate @structures


