.breadcrumbs
  .page-header
    %h1
      Gestion de la structure
      %b= @structure.name


.content.mt-3
  .container-fluid
    .row
      .col-md-12
        = render 'structures/infos', structure: @structure

      .col-md-12
        .card
          .card-header
            .float-left= render 'structures/navbar', structure: @structure

          .card-body
            .table-responsive.mb-3
              %table.table.table-striped.table-sm
                %thead
                  %tr
                    %th Identifiant
                    %th Type
                    %th Nom
                    %th Niveau de reconnaissance
                    %th Rôle

                - @members.each do |member|
                  %tr
                    %td= member.friendly_id
                    %td= t "activerecord.models."+member.class.name.downcase+".one"
                    %td
                      - if member.is_a? User
                        = link_to member, target: '_blank', class: "text-info" do
                          = "#{member.name} - (#{member.town})"
                      - else
                        = "#{member.name} - (#{member.town})"
                    %td
                      - if member.is_a? User
                        = member.level

                    %td
                      = @structure.get_resource_role(member)
                      - if can? :manage, @structure
                        .float-right
                          = link_to structure_edit_structure_resource_roles_path(@structure, member.id, member.class.to_s), class: "btn btn-info mr-1 btn-sm change_role" do
                            = icon "edit"
                            Modifier le rôle

                          = link_to structure_delete_memberships_path(@structure, member.id, member.class.to_s) , method: :delete, data:{confirm: 'Êtes vous sûr ?'}, class: "btn btn-danger btn-sm" do
                            = icon "times"



            .mb-3
              = will_paginate @members

            %hr
            %h3.h5 Ajouter un membre

            = form_for :search, url: search_path, method: :get, remote: :true do |f|
              = f.hidden_field :structure_id, value: @structure.id
              .form-group
                .input-group
                  = f.text_field :request, class: "form-control", placeholder: 'Votre recherche... dm2a, fnadf...'
                  .input-group-append
                    .input-group-text
                      %button.btn.btn-link{type: :submit}
                        = icon "search"

            #result
              .alert.alert-info
                %p.mb-0.text-info
                  Vous pouvez chercher un membre ou une association par nom, email ou identifiant


.modal#roles_form{:role => "dialog", :tabindex => "-1"}
  .modal-dialog{:role => "document"}
    .modal-content
      .modal-header
        %h5.modal-title Modifier le rôle
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
      .modal-body
        %p Modal body text goes here.
