<h1><%= @structure.name %></h1>
<h2>Feuille d'émargement</h2>

<p>Feuille d'émargement en date du : <b><%= I18n.l(Date.today, format: :month_year) %></b></p>

<table>
  <tr>
    <th>Structure</th>
    <th>Représentant</th>
    <th width="35%">Signature</th>
  </tr>

  <%- @members.each do |member| %>
    <tr>
      <%- if(member.class.name == 'Structure' || member.class.name == 'Church') %>
        <td><%= member.town %><br><%= member.name %></td>
        <td><%= member.president_name %></td>
        <td></td>
      <%- elsif(member.class.name == 'User') %>
        <td><%= member.lastname %> <%= member.firstname %></td>
        <td></td>
        <td></td>
      <%- end %>
    </tr>
  <%- end %>

</table>

<style>
  table{
    width: 100%;
    border: 1px solid #dee2e6;
    max-width: 100%;
    margin-bottom: 1rem;
    background-color: transparent;
  }
  table td{
    padding: 15px 20px;
    border: 1px solid #dee2e6;
    height: 100px;
    vertical-align: middle;
  }
</style>
