%h2 Bonjour #{@user.firstname},

%p Voici vos dernières notifications sur ADD+ :

%ul
  - @notifications.each do |notif|
    %li
      = "#{notif.title} - #{notif.created_at.strftime('%d/%m/%Y')}"

%p Pour consulter toutes vos notifications, veuillez vous connecter à votre compte.
%p= link_to root_url, "Cliquez ici pour vous connecter"