- if !results.blank?
  .table-responsive
    %table.table.table-striped.table-sm
      %thead
        %tr
          %th Identifiant
          %th Type
          %th Nom
          %th Email
          %th
      - results.each do |result|
        %tr
          %td= result.friendly_id
          %td= result.class
          %td= result.name
          %td= result.email
          %td
            = link_to structure_add_memberships_path(structure, result.id, result.class), class: "btn btn-sm btn-primary" do
              = icon "plus"
              Ajouter en tant que membre
- else
  %p Aucun résultat pour cette recherche. Vérifiez que l'utilisateur ou l'association existent !
  %ul.list-inline
    %li.item-list-inline
      = link_to new_user_invitation_path, class: "btn btn-sm btn-success" do
        = icon "plus"
        Ajouter un utilisateur
    %li.item-list-inline
      = link_to new_admin_structure_path, class: "btn btn-sm btn-primary" do
        = icon "plus"
        Ajouter une association