.side-profile.bg-white.mb-3.p-4.d-flex.flex-column.text-center
  .avatar.w-50.mb-3.mx-auto
    = image_tag current_user.get_avatar_url([500,500]), class: "rounded-circle img-fluid"

  .name
    .h5.mb-1
      %span.d-block.small.text-muted.mb-2
        = icon 'fa', 'id-card'
        = "%05d" % current_user.id

      %strong= current_user.fullname
    %em= current_user.level