%ul.navbar-nav.justify-content-end.flex-grow-1
  %li.nav-item
    = link_to root_url, class: "nav-link #{(params[:controller].match(/feed/)) ? 'active' : ''}" do
      %span
        = icon 'fa', 'home', class: 'me-3'
      %span Accueil

  %li.nav-item
    = link_to me_profile_path, class: "nav-link #{(params[:controller].match(/profile/)) ? 'active' : ''}" do
      %span
        = icon 'fa', 'user-circle', class: 'me-3'
      %span Mon profil

  %li.nav-item
    = link_to me_search_path, class: "nav-link #{(params[:controller].match(/search/)) ? 'active' : ''}" do
      %span
        = icon 'fa', 'search', class: 'me-3'
      %span Annuaire

  - if (current_user.has_role?([:admin, :moderator]) || current_user.has_any_role?(:president, :treasurer, :secretarye)) && @subdomain != "admin"
    %li.nav-item
      = link_to root_url(subdomain: :admin), class: 'nav-link' do
        %span
          = icon "fa", "cogs", class: 'me-3'
        %span Accéder à l'administration

  - Intranet.all.each do |intranet|
    - if can?(:manage, intranet.structure) && @subdomain != intranet.subdomain
      %li.nav-item
        = link_to root_url(subdomain: intranet.subdomain), class: 'nav-link' do
          %span
            = icon "fa", "cogs", class: 'me-3'
          %span= "Intranet #{intranet.structure_name}"

  - if @subdomain != ""
    %li
      = link_to root_url(subdomain: ""), class: 'nav-link' do
        %span
          = icon "fa", "person-booth", class: 'me-3'
        %span Accéder aux votes
