!!!
%html
  %head
    %meta{ name: "viewport", content: "width=device-width, initial-scale=1, maximum-scale=1.0"}
    %title
      - if Rails.env == 'recette'
        RECETTE -
      - elsif Rails.env == 'development'
        LOCAL -

      INTRANET - Mon espace

    %meta{:name => "description", :content => "Espace personnel de l'Intranet des ADD - Test"}

    = stylesheet_link_tag 'me/application', media: 'all'

    = favicon_link_tag "/favicon.ico"
    = csrf_meta_tags


    = javascript_include_tag 'me'
    / = render "Intranet/layouts/onsignal_script"

  %body.bg-light
    .web-none.d-flex.align-items-center.px-3.pt-3
      = link_to root_url, class: 'text-decoration-none' do
        = image_tag 'logo.png', class: 'img-fluid logo-mobile'
      %button.ms-auto.btn.btn-primary.ln-0{"aria-controls" => "offCanva", "data-bs-target" => "#offCanva", "data-bs-toggle" => "offcanvas", :type => "button"}
        = icon "fa", "bars"

    .py-4
      .container
        .row.position-relative
          %main.col.col-xl-6.order-xl-2.col-lg-12.order-lg-1.col-md-12.col-sm-12.col-12
            .main-content= yield

          %aside.col.col-xl-3.order-xl-1.col-lg-6.order-lg-2.col-md-6.col-sm-6.col-12
            #offCanva.p-2.bg-light.offcanvas.offcanvas-start{:tabindex => "-1"}
              .sidebar-nav.mb-3
                .pb-4
                  = link_to root_url, class: 'text-decoration-none' do
                    = image_tag 'logo.png', class: 'img-fluid'

                = render partial: 'me/layouts/profile'

                = render partial: 'me/layouts/sidebar'

            .ps-0.m-none.fix-sidebar
              .sidebar-nav.mb-3
                .pb-4.mb-4
                  = link_to root_url, class: 'text-decoration-none' do
                    = image_tag 'logo.png', class: 'img-fluid'


                = render partial: 'me/layouts/profile'

                = render partial: 'me/layouts/sidebar'




          %aside.col.col-xl-3.order-xl-3.col-lg-6.order-lg-3.col-md-6.col-sm-6.col-12
            .fix-sidebar
              .side-trend.lg-none
                / Search Tab
                .sticky-sidebar2.mb-3
                  .bg-white.rounded-4.overflow-hidden.shadow-sm.mb-4
                    %h6.fw-bold.text-body.p-3.mb-0.border-bottom Prochains événements

                    - @events.each do |e|
                      / Trending Item
                      %a.event-list.p-3.border-bottom.d-flex.align-items-top.text-dark.text-decoration-none{:href => "#", "data-event-id" => e.id}
                        %div
                          .text-muted.fw-light.d-flex.align-items-center
                            %small= e.structure_name
                            %span.mx-1.material-icons.md-3 circle
                            %small= e.category_name
                          %p.fw-bold.mb-0.pe-3= e.title
                          %small.text-muted= l e.start_at, format: :long

                        = image_tag e.structure.get_logo_url(), class: "img-fluid ms-auto", style: 'max-width: 50px'


    .py-3.bg-white.footer-copyright
      .container
        .row.align-items-center
          .col-md-8
            %span.me-3.small
              &copy;
              = Date.today.year
              %b.text-primary Mon espace personnel
              Tous droits réservés

          .col-md-4.text-right
            = link_to '#', class: 'btn social-btn btn-sm text-decoration-none' do
              = icon "fab", "facebook"
            = link_to '#', class: 'btn social-btn btn-sm text-decoration-none' do
              = icon "fab", "twitter"
            = link_to '#', class: 'btn social-btn btn-sm text-decoration-none' do
              = icon "fab", "instagram"
            = link_to '#', class: 'btn social-btn btn-sm text-decoration-none' do
              = icon "fab", "youtube"


    #event.modal.fade{tabindex: '-1', role: "dialog"}
      .modal-dialog{role: "document"}
        .modal-content

    = custom_bootstrap_flash
    = render "scripts/app"