!!!
%html
  %head
    %meta{ name: "viewport", content: "width=device-width, initial-scale=1, maximum-scale=1.0"}
    %title
      INTRANET - Mon espace

    %meta{:name => "description", :content => "Espace personnel de l'intranet des ADD"}

    = stylesheet_link_tag 'me/application', media: 'all'

    = favicon_link_tag "/favicon.ico"
    = csrf_meta_tags


    = javascript_include_tag 'me'
    / = render "intranet/layouts/onsignal_script"

  %body.bg-light
    .py-4
      .container
        .row.position-relative
          %main.col.col-xl-6.order-xl-2.col-lg-12.order-lg-1.col-md-12.col-sm-12.col-12
            .main-content= yield

          %aside.col.col-xl-3.order-xl-1.col-lg-6.order-lg-2.col-md-6.col-sm-6.col-12
            .ps-0.m-none.fix-sidebar
              .sidebar-nav.mb-3
                .pb-4.mb-3
                  = link_to '#', class: 'text-decoration-none' do
                    = image_tag 'logo.png', class: 'img-fluid'

                .side-profile.bg-white.mb-3.p-4.d-flex.flex-column.text-center
                  .avatar.w-50.mb-3.mx-auto
                    - if current_user.avatar.attached?
                      = image_tag current_user.avatar.representation(resize_to_limit: [500, 500]), class: "rounded-circle img-fluid"
                    - else
                      = image_tag current_user.gravatar_url, class: "rounded-circle img-fluid"
                  .name
                    .h5.mb-1
                      %span.d-block.small.text-muted.mb-2
                        = icon 'fa', 'id-card'
                        = "%05d" % current_user.id

                      %strong= current_user.fullname
                    %em= current_user.level

                %ul.navbar-nav.justify-content-end.flex-grow-1
                  %li.nav-item
                    = link_to root_url, class: "nav-link #{(params[:controller].match(/feed/)) ? 'active' : ''}" do
                      %span
                        = icon 'fa', 'home', class: 'me-3'
                      %span Accueil

                  %li.nav-item
                    = link_to me_profile_url, class: "nav-link #{(params[:controller].match(/profile/)) ? 'active' : ''}" do
                      %span
                        = icon 'fa', 'user-circle', class: 'me-3'
                      %span Mon profil

                  - if current_user.has_role?([:admin, :moderator]) && @subdomain != "admin"
                    %li.nav-item
                      = link_to root_url(subdomain: :admin), class: 'nav-link' do
                        %span
                          = icon "fa", "cogs", class: 'me-3'
                        %span Accéder à l'adminitration

                  - Intranet.all.each do |intranet|
                    - if can?(:manage, intranet.structure) && @subdomain != intranet.subdomain
                      %li.nav-item
                        = link_to root_url(subdomain: intranet.subdomain), class: 'nav-link' do
                          %span
                            = icon "fa", "cogs", class: 'me-3'
                          %span= "Intranet #{intranet.structure_name}"

                  - if @subdomain != ""
                    %li
                      = link_to root_url(subdomain: ""), class: 'nav-link' do
                        %span
                          = icon "fa", "person-booth", class: 'me-3'
                        %span Accéder aux votes

          %aside.col.col-xl-3.order-xl-3.col-lg-6.order-lg-3.col-md-6.col-sm-6.col-12
            .fix-sidebar
              .side-trend.lg-none
                / Search Tab
                .sticky-sidebar2.mb-3
                  .bg-white.rounded-4.overflow-hidden.shadow-sm.mb-4
                    %h6.fw-bold.text-body.p-3.mb-0.border-bottom Prochains événements

                    - @events.each do |e|
                      / Trending Item
                      %a.p-3.border-bottom.d-flex.align-items-top.text-dark.text-decoration-none{:href => "#"}
                        %div
                          .text-muted.fw-light.d-flex.align-items-center
                            %small= e.structure_name
                            %span.mx-1.material-icons.md-3 circle
                            %small= e.category_name
                          %p.fw-bold.mb-0.pe-3= e.title
                          %small.text-muted= l e.start_at, format: :long

                        - if e.structure.logo.attached?
                          = image_tag get_structure_logo_link(post.structure, [50, 50]), class: "img-fluid rounded ms-auto"
                        - else
                          = image_tag e.structure.gravatar_url, class: "img-fluid rounded ms-auto"


    .py-3.bg-white.footer-copyright
      .container
        .row.align-items-center
          .col-md-8
            %span.me-3.small
              &copy;
              = Date.today.year
              %b.text-primary Mon espace personnel
              Tous droits réservés

          .col-md-4.text-right
            = link_to '#', class: 'btn social-btn btn-sm text-decoration-none' do
              = icon "fab", "facebook"
            = link_to '#', class: 'btn social-btn btn-sm text-decoration-none' do
              = icon "fab", "twitter"
            = link_to '#', class: 'btn social-btn btn-sm text-decoration-none' do
              = icon "fab", "instagram"
            = link_to '#', class: 'btn social-btn btn-sm text-decoration-none' do
              = icon "fab", "youtube"



    = custom_bootstrap_flash