<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>
    <% if Rails.env == 'recette' %>
      RE7 - Gestion Intranet - INTRANET FNADF/UNADF
    <% elsif Rails.env == 'development' %>
      MYLOCAL - Gestion Intranet - INTRANET FNADF/UNADF
    <% else %>
      Gestion Intranet - INTRANET FNADF/UNADF
    <% end %>
  </title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= vite_client_tag %>
  <%= vite_stylesheet_tag 'typography.scss' %>
</head>
<body>

<div id="app">
  <%= yield %>
</div>

<%= vite_javascript_tag 'application' %>

</body>
</html>