.breadcrumbs
  .page-header
    %h1 Mes votes

.content.mt-3
  .container-fluid
    .card
      .card-header
        .float-left
          = @campaign.structure_name
        .card-actions.float-right
          = link_to [:votes, :campaigns], class: 'btn btn-default' do
            = icon 'fa', "angle-left"
            Revenir aux campagnes

      .card-body
        = form_for :votings, url: votes_voting_path do |f|
          = f.hidden_field :campaign_id, value: @campaign.id
          .row
            .col-md-6
              %h2.h5.mb-3
                Bulletin de vote

              - if @user.has_voted?(@campaign) && @presidences.blank?
                %p.text-danger Vous avez déjà rempli tous vos bulletins
              - else
                .well.bg-light.p-3
                  %h3.h5.text-center.mb-3= @campaign.name
                  %table.table
                    - @campaign.motions.each do |motion|
                      %tr
                        %th
                          = motion.name
                        %td
                          = hidden_field_tag "vote[#{motion.id}][motion_id]", motion.id
                          = get_field "vote[#{motion.id}][result]", motion.kind

            .col-md-6
              .alert.alert-info
                %p
                  Il est possible que vous ayez plusieurs bulletins de vote disponibles (en fonction du nombre de présidence et du niveau de reconnaissance).

                %p
                  Chaque ligne, ci-dessous, vous indique en quelle qualité vous votez.

                %p
                  Votre vote peut être différent pour chaque qualité. Pour cela, il suffit de

                %ul.pl-3
                  %li Remplir le bulletin une première fois
                  %li Selectionner la qualité qui correspond
                  %li Valider le vote
                  %li Recommencer autant de fois que nécessaire.


              %h2.h4.mb-3 Mes bulletins en qualité de Président d'église ou d'oeuvre :

              - @presidences.each_with_index do |s, index|

                // LA TABLE DES VOTES FAIT LOI !
                - if @campaign.structure_can_vote?(s, @structure.is_member?(s)) && !@campaign.has_already_vote?(s)
                  = render 'votings', voter: s, as_member: @structure.is_member?(s)

                - elsif @structure.is_member?(s) && !@campaign.structure_can_vote?(s)

                  .alert.alert-danger= @structure.member_cant_vote_note_friendly(s)


              %h2.h4.mb-3 Mon bulletin en qualité de personne physique :

              // LA TABLE DES VOTES FAIT LOI !
              - if @campaign.user_can_vote?(@user, @structure.is_member?(@user)) && !@campaign.has_already_vote?(@user)
                // MEMBRE DE L'ASSOC, CAN_VOTE
                = render 'votings', voter: @user, as_member: @structure.is_member?(@user)

              - elsif @structure.is_member?(@user) && !@campaign.structure_can_vote?(@structure)

                .alert.alert-danger= @structure.member_cant_vote_note_friendly(@user)



          - unless @campaign.can_vote?
            .alert.alert-danger.mt-3 Les votes n'ont pas encore commencés
          - else
            - if !@user.has_voted?(@campaign) || !@presidences.blank?
              .row
                .col-md-12
                  .text-center.mt-3
                    %button.btn.btn-success.submit-vote{type: :submit}
                      = icon 'fa', 'warning'
                      JE VALIDE MON VOTE
                      = icon 'fa', 'warning'





    - if params['show_admin'] == "true"
      %table.table
        %tr
          %th Quoi ?
          %th Réponse

        %tr
          %th{colspan: 2} Présidences
        - @presidences.each_with_index do |s, index|
          %tr
            %th{colspan: 2}
              = "#{s.name} - (#{s.town})"
          %tr
            %td IS_MEMBER ?
            %td= @structure.is_member?(s)
          %tr
            %td CAN VOTE ?
            %td= @campaign.structure_can_vote?(s, @structure.is_member?(s))
          %tr
            %td HAS ALREADY VOTE ?
            %td= @campaign.has_already_vote?(s)
        %tr
          %th{colspan: 2} USER

        %tr
          %td IS_MEMBER ?
          %td= @structure.is_member?(@user)
        %tr
          %td CAN VOTE ?
          %td= @campaign.user_can_vote?(@user, @structure.is_member?(@user))
        %tr
          %td HAS ALREADY VOTE ?
          %td= @campaign.has_already_vote?(@user)