.breadcrumbs
  .page-header
    %h1 Importer des utilisateurs


.content.mt-3
  .container-fluid
    .card
      .card-header
        %strong Traitement du fichier

      .card-body
        %p Votre fichier a bien été importé.

        %ul.pl-5
          %li= "#{params[:line].to_i-1} lignes ont été parcouru"
          %li= "#{params[:new_users]} utilisateurs importés"
          %li= "#{params[:problem_users]} utilisateurs n'ont pas été importés"

