.row
  .col-md-4
    .client.card
      .card-body
        .mx-auto.d-block
          .w-50.mb-3.mx-auto.text-center
            .avatar
              = image_tag user.get_avatar_url, class: "rounded-circle img-fluid"

          .text-center
            .client-title.mt-2.mb-1
              %h3= user.fullname
              %p
                = icon 'fa', 'id-card'
                = user.friendly_id
          .client-info
            %address
              - unless user.full_address.blank?
                = user.full_address
                %hr

              %ul.fa-ul
                %li
                  = icon 'fa', 'envelope', class: "fa-li"
                  = link_to "mailto:#{user.email}" do
                    = user.email

                - if user.phone_1?
                  %li
                    = icon 'fa', 'phone', class: "fa-li"
                    = user.phone_1
                - if user.phone_2?
                  %li
                    = icon 'fa', 'phone', class: "fa-li"
                    = user.phone_2

                - if user.wife
                  %li
                    = link_to user.wife do
                      = icon 'fa', 'portrait', class: "fa-li"
                      = user.wife_fullname

                - if user.husband
                  %li
                    = link_to user.husband do
                      = icon 'fa', 'portrait', class: "fa-li"
                      = user.husband_fullname

      .card-footer
        - if user == current_user
          = link_to edit_me_path, class: 'btn btn-outline-dark btn-icon' do
            = icon 'fa', "edit"
            Modifier mon profil
        - elsif can? :edit, user
          = link_to edit_admin_user_url(user, subdomain: :admin), class: 'btn btn-outline-dark btn-icon' do
            = icon 'fa', "edit"
            Modifier le profil

  .col-md-8
    .card
      .card-header
        %h2.h4 Ses adhésions

      .card-body
        .table-responsive
          %table.table.table-striped.table-sm
            %thead
              %tr
                %th
                %th Identifiant
                %th Nom
                %th Ville
                %th Email
                %th Téléphone
                %th Rôle

            - @structures.each do |structure|
              %tr
                %td= icon 'fa', "#{structure.get_icon}"
                %td= structure.id
                %td= structure.name
                %td= structure.town
                %td= structure.email
                %td= structure.phone_1
                %td= structure.get_resource_role(user)

    .card
      .card-header
        %h2.h4 Reconnaissances

      .card-body
        - user.gratitudes.each do |g|
          .gratitude.d-flex.flex-row.justify-content-start
            %span.mr-3.font-weight-bold= g.level
            %span.mr-3= g.get_dates
            %span.mr-3
              avec
              %em= g.referent_fullname

    .card
      .card-header
        %h2.h4 Parcours

      .card-body
        - user.phases.each do |p|
          .gratitude.d-flex.flex-row.justify-content-start
            %span.mr-3.font-weight-bolder= p.church_name
            %em.mr-3= p.function
            %span.mr-3= p.get_dates

    .card
      .card-header
        %h2.h4 Activités

      .card-body
        - @activities.each do |activity|
          = render "public_activity/activities/activity", activity: activity

