.modal-header
  %h4.modal-title.pull-left= @event.title
  %button.close{type: 'button', data:{dismiss: 'modal'}, aria:{label: 'Close'}}
    = icon "fa", "times"

.modal-body
  %p
    %b Catégorie :
    = @event.category_name

  %p
    %b Dates :
    = "Du #{l @event.start_at} au #{l @event.end_at}"

  %p
    = simple_format @event.description

.modal-footer
  = link_to [:intranet, event], method: :delete, data:{confirm: 'Voulez vous suppimer cet événement ?'}, class: 'btn btn-sm btn-danger pull-left' do
    = icon 'fa', 'trash'
    Supprimer l'événement
  %button.btn-sm.btn.btn-danger{data:{dismiss: 'modal'}}
    Quitter