.modal-header
  - if event.new_record?
    %h4.modal-title.pull-left Ajouter un événement
  - else
    %h4.modal-title.pull-left Modifier un événement
  %button.close{type: 'button', data:{dismiss: 'modal'}, aria:{label: 'Close'}}
    = icon "fa", "times"

= form_for [:intranet, event] do |f|
  .modal-body
    - if event.errors.any?
      .alert.alert-danger
        %h4= "#{pluralize(event.errors.count, "erreur")}"
        %ul.list
          - event.errors.full_messages.each do |msg|
            %li.list-item= msg


    .form-group
      %label Nom
      = f.text_field :title, class: "form-control"
      %span.help-block Exemple : "Pastorale Ressource 18/09", "Congrès National"...

    .form-group
      %label Catégorie
      = f.select :category_id, options_from_collection_for_select(@intranet_structure.categories, :id, :name, event.category_id), {prompt: '-- Catégorie --'}, class: "form-control"

    .form-group
      %label Date et heure de début
      = f.datetime_field :start_at, class: "form-control"

    .form-group
      %label Date et heure de fin
      = f.datetime_field :end_at, class: "form-control"

    .form-group
      %label Description
      = f.text_area :description, class: "form-control", rows: 3


    .form-group
      %p.font-weight-bold Joindre des fichiers
      = f.file_field :files, multiple: true

    - unless event.files.blank?
      %ul.list-unstyled
        - event.files.each do |file|
          %li.list-item
            = link_to rails_blob_path(file, disposition: "attachment"), class: "btn btn-link btn-sm" do
              = icon "fa", "download"
              = file.filename

    .form-group
      %p.font-weight-bold Gestion des accès

      = link_to '#', class: 'd-block text-primary text-decoration-underline mb-3 select_all_access' do
        %em Selectionner tout

      .form-check
        - User.get_levels.each do |level|
          = f.fields_for :accesses, event.accesses.find_or_initialize_by(level: level) do |a|
            .checkbox
              %label.form-check-label
                = a.check_box :can_access, class: 'form-check-input'
                = level
                = a.hidden_field :level, value: level


  .modal-footer
    - unless event.new_record?
      = link_to [:intranet, event], method: :delete, data:{confirm: 'Voulez vous suppimer cet événement ?'}, class: 'btn btn-xs btn-danger pull-left' do
        = icon 'fa', 'trash'
        Supprimer l'événement
    %button.btn-xs.btn.btn-success{type: :submit}
      Enregistrer
    %button.btn-xs.btn.btn-danger{data:{dismiss: 'modal'}}
      Annuler