.breadcrumbs
  .page-header
    %h1 Résultats des votes

.content.mt-3
  .container-fluid
    .card
      .card-header
        %strong Liste des résultats des votes

      .card-body
        .alert.alert-info
          %p Vous allez accéder aux résultats des campagnes de votes cloturées.
          %p N'apparaîtront que les organismes pour lesquelles vous ou votre église êtes membres.



        .table-responsive
          %table.table.table-striped.table-sm
            %thead
              %tr
                %th Structure concernée
                %th Nom de la campagne
                %th

            - @campaigns.each do |campaign|
              %tr
                %td= campaign.structure_name
                %td= campaign.name
                %td
                  = link_to result_path(campaign.id), class: 'btn btn-sm btn-primary' do
                    Consulter les résultats
                    = icon 'fa', 'arrow-right'

        = will_paginate @campaigns, params: :member_page
