.content.mt-3
  .container-fluid
    %h2.h3.float-left
      = "Campagne : #{@campaign.name}"

    %ul.list-inline.float-right
      - if @campaign.closed?
        %li.list-inline-item
          %span.alert.alert-sm.alert-info Votes cloturés
      - if @campaign.opened?
        %li.list-inline-item
          %span.alert.alert-sm.alert-danger Période de vote

    .btn-group.float-right.mr-3
      - if @campaign.coming?
        = link_to [:edit, :admin, @campaign], class: "btn btn-sm btn-primary" do
          = icon 'fa', "edit"

      - if !@campaign.closed?
        = link_to '#', class: "btn btn-sm btn-secondary" do
          = icon 'fa', "hand-o-up"
          Vote manuel

      - if @campaign.can_close_temporarily?
        = link_to [:admin, @campaign, :close_temporarily], class: "btn btn-sm btn-info" do
          = icon 'fa', "times-circle"
          Fermer *

      - if @campaign.can_opening?
        = link_to [:admin, @campaign, :open], class: "btn btn-sm btn-success" do
          = icon 'fa', "check-circle"
          Ouvrir *

      - if @campaign.can_close_definitly?
        = link_to [:admin, @campaign, :close_definitly], data:{confirm: 'Êtes vous sûr, cette action est irreversible ?'}, class: "btn btn-sm btn-warning" do
          = icon 'fa', "times-circle"
          Cloturer *


    .clearfix

    %p.text-muted= @campaign.description

    .bg-light.p-3.mb-3
      %h4.h5.mb-3 Paramétrage
      .row
        .col-md-6
          %table.table
            %thead
              %tr
                %th{colspan: 2} Paramètres de la campagne
            %tr
              %td Date de début
              %td= ldate @campaign.start_at
            %tr
              %td Date de fin
              %td= ldate @campaign.end_at

        .col-md-6
          %table.table
            %thead
              %tr
                %th{colspan: 2} Motions
            - @campaign.motions.each do |motion|
              %tr
                %td= motion.name
                %td= t 'activerecord.attributes.motion.kinds.'+motion.kind


    = render "campaigns/results", campaign: @campaign, structure: @structure
