.breadcrumbs
  .page-header
    %h1 Gestion des congrès


.content.mt-3
  .container-fluid
    .card
      .card-header
        %strong= @meeting.name
        Gestion des campagnes

        .card-actions
          = link_to new_admin_meeting_campaign_path, class: "btn-setting" do
            = icon 'plus'
            Nouvelle campagne


      .card-body.p-0
        .table-responsive
          %table.table.table-striped.table-sm
            %thead
              %tr
                %th= sort_link(@q, :name, 'Nom')
                %th= sort_link(@q, :begin_at, 'Dates')
                %th Votes manuels ?
                %th

            - @campaigns.each do |campaign|
              %tr
                %td= campaign.name
                %td= campaign.period
                %td= icon "#{(campaign.manual) ? 'check' : 'times'}"
                %td
                  = link_to [:edit, :admin, @meeting, campaign], class: 'btn btn-sm btn-success' do
                    = icon 'edit'
                    Modifier

          = will_paginate @campaigns, params: :member_page

