%ul.nav.navbar-nav

  %h3.menu-title Menu Principal
  %li{class: "#{(params[:controller] == 'pages') ? 'active' : ''}"}
    = link_to root_url do
      = icon 'fa', "home", class: "menu-icon"
      Accueil

  %li{class: "#{(params[:controller].match(/campaigns/)) ? 'active' : ''}"}
    = link_to votes_campaigns_url do
      = icon 'fa', "comment", class: "menu-icon"
      Mes votes


  %li{class: "#{(params[:controller].match(/results/)) ? 'active' : ''}"}
    = link_to votes_results_url do
      = icon 'fa', "comments", class: "menu-icon"
      Résultats


  %h3.menu-title Mon compte

  %li{class: "#{(params[:controller].match(/accounts/)) ? 'active' : ''}"}
    = link_to me_path do
      = icon 'fa', "user", class: "menu-icon"
      Consulter mon profil

  %li{class: "#{(params[:controller].match(/structures/)) ? 'active' : ''}"}
    = link_to structures_path do
      = icon 'fa', "address-book", class: "menu-icon"
      Consulter mes structures


  = render "shared/access_menus"