!!!
%html
  %head
    %meta{ name: "viewport", content: "width=device-width, initial-scale=1; maximum-scale=1.0"}
    %title Gestion des Votes FNADF/UNADF
    %meta{:name => "description", :content => "#{content_for?(:description) ? yield(:description) : 'En quelques sortes, nous sommes la nouvelle génération des vendeurs de voyage de groupes B2B, les groupistes 2.0 !'}"}
    = stylesheet_link_tag 'application', media: 'all'
    = favicon_link_tag "/favicon.ico"
    = csrf_meta_tags

  %body.bg-dark
    .sufee-login.d-flex.align-content-center.flex-wrap
      .container
        .login-content
          .login-logo
            = link_to root_url do
              FNADF / UNADF

          .login-form
            = yield


    = javascript_include_tag 'application'
    = custom_bootstrap_flash