.breadcrumbs
  .page-header
    %h1 Importer des utilisateurs


.content.mt-3
  .container-fluid
    .card
      .card-header
        %strong Traitement du fichier

      .card-body
        .alert.alert-info
          Merci de vérifier les données puis de valider.

        = form_for @upload, url: wizard_path, method: :put do |f|
          = f.hidden_field :upload_id, value: @upload.id
          %table.table
            %thead
              %tr
                %th Entête du fichier
                %th Extrait des 5 premieres lignes

            - @keys.each_with_index do |key, index|
              %tr
                %td= key
                %td
                  .p-3.bg-light
                    %ul.list-unstyled
                      - @samples.each do |sample|
                        %li= sample[index].inspect



          .form-group
            %button.btn.btn-success{type: :submit}
              = icon 'fa', "upload"
              Importer mon fichier