
= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
  .form-group
    = f.label :email
    = f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control"

  .form-group
    = f.label :password
    = f.password_field :password, autocomplete: "off", class: "form-control"

  - if devise_mapping.rememberable?
    .form-group
      .checkbox
        %label
          = f.check_box :remember_me
          Se souvenir de moi

  .form-group
    = f.submit "Se connecter", class: "btn btn-primary"


