
= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
  .form-group
    = f.label :email
    = f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control"

  .form-group
    = f.label :password
    = f.password_field :password, autocomplete: "off", class: "form-control"

  - if devise_mapping.rememberable?
    .form-group
      .checkbox
        %label
          = f.check_box :remember_me
          Se souvenir de moi

  .form-group
    = f.submit "Se connecter", class: "btn btn-primary"

  - if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations'
    = link_to new_password_path(resource_name), class: "btn btn-success" do
      J'ai oublié mon mot de passe

  %hr

  = link_to user_google_oauth2_omniauth_authorize_path, method: :post, class: 'btn btn-lg btn-block btn-outline-dark' do
    %i.fab.fa-google.mx-3
    Se connecter avec Google