.breadcrumbs
  .page-header
    %h1 Chercher un pasteur


.content.mt-3
  .container-fluid
    .card
      .card-header
        %strong Liste des utilisateurs
        .card-actions
          - if can? :add, User
            = link_to new_user_invitation_path, class: "btn-setting" do
              = icon 'fa', 'plus'
              Ajouter

      .card-body
        = search_form_for [:admin, @q] do |f|
          .row
            .col-md-3
              .form-group
                = f.label :firstname_or_lastname_cont
                = f.text_field :firstname_or_lastname_cont, class: "form-control"
            .col-md-3
              .form-group
                = f.label :level_eq
                = f.select :level_eq, options_for_select(User.get_levels, @q.level_eq), {include_blank: " Tous "}, class: "form-control"

            .col-md-3{class: "#{'d-none' unless can? :manage, User}"}
              .form-group
                .checkbox
                  = f.check_box :disabled_true
                  Afficher les pasteurs désactivés



            .col-md-3
              %button.btn.btn-success.mt-4{type: :submit}
                = icon 'fa', "search"
                Rechercher



        .table-responsive
          %table.table.table-striped.table-sm
            %thead
              %tr
                %th= sort_link(@q, :lastname, 'Nom', default: :asc)
                %th Email
                %th= sort_link(@q, :level, 'Reconnaissance')
                %th

            - @users.each do |user|
              %tr
                %td
                  = link_to user, class: "text-info" do
                    = user.fullname
                    = icon 'fa', "eye"
                %td= user.email
                %td= user.level
                %td
                  - if user.id == current_user.id
                    %em C'est vous !
                  - else
                    %ul.list-inline.mb-0
                      - if can? :edit, user
                        %li.list-inline-item
                          = link_to [:edit, :admin, user], class: "text-success" do
                            = icon 'fa', "edit"
                            Modifier
                      - if can? :manage, user
                        - if user.disabled
                          %li.list-inline-item
                            = link_to admin_user_enable_path(user), class: "text-info" do
                              = icon 'fa', "check"
                              Restaurer
                        - unless user.disabled
                          %li.list-inline-item
                            = link_to admin_user_disable_path(user), class: "text-warning" do
                              = icon 'fa', "times"
                              Desactiver

                      - if can? :delete, user
                        %li.list-inline-item
                          = link_to [:admin, user], method: :delete, data:{confirm: 'Êtes vous sûr ?'}, class: "text-danger" do
                            = icon 'fa', "trash"
                            Supprimer

                      - if can? :manage, user
                        %li.list-inline-item
                          - next_path = ERB::Util.url_encode("/switch_user?scope_identifier=user_#{user.id}")
                          = link_to "/switch_user/remember_user?remember=true&path=#{next_path}", class: 'text-infos' do
                            = icon 'fa', 'warning'
                            Se connecter en tant que

                          /remember_user?

        .float-right
          = will_paginate @users