.breadcrumbs
  .page-header
    %h1
      Chercher un pasteur
      %small - consulter un pasteur


.content.mt-3
  .container-fluid
    .row
      .col-md-4
        .client.card
          .card-body
            .mx-auto.d-block
              .text-center
                .client-title.mt-2.mb-1
                  %h3= @user.fullname
                  %p
                    = icon 'fa', 'id-card'
                    = @user.friendly_id
              .client-info
                %address
                  - unless @user.full_address.blank?
                    = @user.full_address
                    %hr

                  %ul.fa-ul
                    %li
                      = icon 'fa', 'envelope', class: "fa-li"
                      = link_to "mailto:#{@user.email}" do
                        = @user.email

                    - if @user.phone_1?
                      %li
                        = icon 'fa', 'phone', class: "fa-li"
                        = @user.phone_1
                    - if @user.phone_2?
                      %li
                        = icon 'fa', 'phone', class: "fa-li"
                        = @user.phone_2
          .card-footer
            - if can? :edit, @user
              = link_to edit_intranet_user_path(@user), class: 'btn btn-outline-dark btn-icon' do
                = icon 'fa', "edit"
                Modifier le profil


      .col-md-8
        .card
          .card-header
            %h2.h4 Ses adhésions

          .card-body
            %table.table.table-striped.table-sm
              %thead
                %tr
                  %th
                  %th Identifiant
                  %th Nom
                  %th Ville
                  %th Email
                  %th Téléphone
                  %th Rôle

              - @structures.each do |structure|
                %tr
                  %td= icon 'fa', "#{structure.get_icon}"
                  %td= structure.id
                  %td= structure.name
                  %td= structure.town
                  %td= structure.email
                  %td= structure.phone_1
                  %td= structure.get_resource_role(@user)



        .card
          .card-header
            %h2.h4 Reconnaissances

          .card-body
            - @user.gratitudes.each do |g|
              .gratitude.d-flex.flex-row.justify-content-start
                %span.mr-3.font-weight-bold= g.level
                %span.mr-3= g.get_dates
                %span.mr-3
                  avec
                  %em= g.referent_fullname
