%ul.nav.navbar-nav

  %h3.menu-title Menu Principal

  %li{class: "#{(params[:controller].match(/home/)) ? 'active' : ''}"}
    = link_to root_url do
      = icon 'fas', "tachometer-alt", class: "menu-icon"
      %span Accueil

  %li{class: "#{(params[:controller].match(/events/)) ? 'active' : ''}"}
    = link_to [:intranet, :events] do
      = icon 'fa', "calendar", class: "menu-icon"
      %span Calendrier


  %h3.menu-title Annuaire


  %li{class: "#{(params[:controller].match(/users/)) ? 'active' : ''}"}
    = link_to [:intranet, :users] do
      = icon 'fa', "users", class: "menu-icon"
      %span Chercher un pasteur

  %li{class: "#{(params[:controller].match(/structures/)) ? 'active' : ''}"}
    = link_to [:intranet, :structures] do
      = icon 'fa', "fire", class: "menu-icon"
      %span Chercher une église