= form_for [structure.becomes(Structure), campaign] do |f|
  - if campaign.errors.any?
    .alert.alert-danger
      %h3.h4 Merci de corriger les erreurs ci-dessous
      %ul.list
        - campaign.errors.full_messages.each do |msg|
          %li= msg

  .row
    .col-md-6
      .form-group
        = f.label :name
        = f.text_field :name, class: 'form-control'

      .form-group
        = f.label :description
        = f.text_field :description, class: 'form-control'

      .form-group
        = f.label :start_at
        = f.text_field :start_at, class: 'form-control datetimepicker', value: "#{ldate campaign.start_at}", data: {target: '#campaign_start_at', toggle: "datetimepicker"}

      .form-group
        = f.label :end_at
        = f.text_field :end_at, class: 'form-control datetimepicker', value: "#{ldate campaign.end_at}", data: {target: '#campaign_end_at', toggle: "datetimepicker"}

      .form-check
        = f.check_box :is_public, class: "form-check-input"
        = f.label :is_public, class: "form-check-label"

    .col-md-12
      %h3 Motions
      %table.table
        %thead
          %tr
            %th Ordre
            %th Nom
            %th Type
            %th
        %tbody#motions
          = f.fields_for :motions do |ff|
            = render 'motion_fields', :f => ff

          %tr
            %td{colspan: 3}
              .form-group
                = link_to_add_association f, :motions, class: "btn btn-sm btn-primary", data: {"association-insertion-node" => "tbody#motions", "association-insertion-method" => "prepend"} do
                  = icon "plus"
                  Ajouter une motion


  .float-right
    %button.btn.btn-primary{type: :submit}
      Enregistrer
