.breadcrumbs
  .page-header
    %h1
      Gestion de la structure
      %b= @structure.name

.content.mt-3
  .container-fluid
    .row
      .col-md-4
        = render 'structures/infos', structure: @structure

      .col-md-8
        .card
          .card-body
            = link_to structure_has_memberships_path(@structure, format: :pdf), target: '_blank', class: "btn btn-success btn-block btn-lg" do
              = icon "download", class: "mr-5"
              Télécharger la feuille d'émargement

      .col-md-12
        .card
          .card-header
            .float-left= render 'structures/navbar', structure: @structure

            .card-actions.float-right
              = link_to new_structure_campaign_path(@structure), class: 'btn btn-sm btn-default' do
                = icon 'plus'
                Créer une campagne

          .card-body
            .table-responsive
              %table.table.table-striped.table-sm
                %thead
                  %tr
                    %th Identifiant
                    %th Status
                    %th Nom
                    %th Débute le
                    %th

                - @campaigns.each do |campaign|
                  %tr
                    %td= campaign.id
                    %td
                      %span.badge{class: "badge-#{campaign.state_class}"}= I18n.t "activerecord.attributes.campaign.states.#{campaign.state}"
                    %td
                      = link_to [@structure.becomes(Structure), campaign], class: 'text-info' do
                        = campaign.name
                    %td= l campaign.start_at
                    %td
                      %ul.list-inline.mb-0
                        %li.list-inline-item
                          = link_to [:edit, @structure.becomes(Structure), campaign], class: "text-primary" do
                            = icon "edit"
                            Modifier
                        - if current_user.is_admin?
                          %li.list-inline-item
                            = link_to [@structure.becomes(Structure), campaign], method: :delete, data:{confirm: 'Êtes vous sûr ?'}, class: "text-danger" do
                              = icon "times"
                              Supprimer


                        - if campaign.can_close_temporarily?
                          %li.list-inline-item
                            = link_to [:admin, campaign, :close_temporarily], class: "text-info" do
                              = icon "times-circle"
                              Fermer la campagne*

                        - if campaign.can_opening?
                          %li.list-inline-item
                            = link_to [:admin, campaign, :open], class: "text-success" do
                              = icon "check-circle"
                              Ouvrir la campagne*

                        - if campaign.can_close_definitly?
                          %li.list-inline-item
                            = link_to [:admin, campaign, :close_definitly], data:{confirm: 'Êtes vous sûr, cette action est irreversible ?'}, class: "text-warning" do
                              = icon "times-circle"
                              Cloturer la campagne*

            %p
              %b.text-info
                = icon "times-circle"
                Fermer la campagne :
              Ferme la campagne, rend les votes impossibles, mais permet une réouverture (les votes ne sont pas réinitialisés)
              %br
              %b.text-success
                = icon "check-circle"
                Ouvrir la campagne :
              Ouvre la campagne de vote
              %br
              %b.text-black
                = icon "times-circle"
                Cloturer la campagne :
              Cloture la campagne, ferme les votes, ne permet pas la réouverture

            = will_paginate @campaigns