.breadcrumbs
  .page-header
    %h1
      Gestion de la structure
      %b= @structure.name

.content.mt-3
  .container-fluid
    .row
      .col-md-12
        = render 'structures/infos', structure: @structure

      .col-md-12
        .card
          .card-header
            .float-left= render 'structures/navbar', structure: @structure
            .card-actions.float-right
              = link_to structure_campaigns_path(@structure), class: 'btn btn-sm btn-default' do
                = icon 'fa', 'angle-left'
                Revenir aux campagnes

          .card-body
            = render 'form', campaign: @campaign, structure: @structure