.breadcrumbs
  .page-header
    %h1
      Gestion de la structure
      %b= @structure.name


.content.mt-3
  .container-fluid
    .row
      .col-md-12
        = render "structures/infos", structure: @structure, edit_path: edit_structure_path(@structure)

      .col-md-12
        .card
          .card-header
            .float-left= render 'structures/navbar', structure: @structure
            .card-actions.float-right
              = link_to structure_campaigns_path(@structure), class: 'btn btn-sm btn-default' do
                = icon 'fa', 'angle-left'
                Revenir aux campagnes

          .card-body
            - if @campaign.is_public
              .alert.alert-success.mb-3 Campagne publique

            %h2.h3.float-left
              = "Campagne : #{@campaign.name}"

            .btn-group.float-right
              - if @campaign.coming?
                = link_to [:edit, @structure.becomes(Structure), @campaign], class: "btn btn-primary" do
                  = icon 'fa', "edit"
                  Modifier

              - if !@campaign.closed?
                = link_to '#', class: "btn btn-secondary" do
                  = icon 'fa', "hand-o-up"
                  Vote manuel

              - if @campaign.can_close_temporarily?
                = link_to [:admin, @campaign, :close_temporarily], class: "btn btn-info" do
                  = icon 'fa', "times-circle"
                  Fermer *

              - if @campaign.can_opening?
                = link_to [:admin, @campaign, :open], class: "btn btn-success" do
                  = icon 'fa', "check-circle"
                  Ouvrir *

              - if @campaign.can_close_definitly?
                = link_to [:admin, @campaign, :close_definitly], data:{confirm: 'Êtes vous sûr, cette action est irreversible ?'}, class: "btn btn-warning" do
                  = icon 'fa', "times-circle"
                  Cloturer *

              %ul.list-inline
                - if @campaign.closed?
                  %li.list-inline-item
                    %span.alert.alert-info Votes cloturés
                - if @campaign.opened?
                  %li.list-inline-item
                    %span.alert.alert-danger Période de vote

            .clearfix

            %p.text-muted= @campaign.description

            .bg-light.p-3.mb-3
              %h4.h5.mb-3 Paramétrage
              .row
                .col-md-6
                  %table.table
                    %thead
                      %tr
                        %th{colspan: 2} Paramètres de la campagne
                    %tr
                      %td Date de début
                      %td= ldate @campaign.start_at
                    %tr
                      %td Date de fin
                      %td= ldate @campaign.end_at

                .col-md-6
                  %table.table
                    %thead
                      %tr
                        %th{colspan: 2} Motions
                    - @campaign.motions.each do |motion|
                      %tr
                        %td= motion.name
                        %td= t 'activerecord.attributes.motion.kinds.'+motion.kind

            = render "campaigns/results", campaign: @campaign, structure: @structure

