= form_for structure_elector_path(structure.id, elector.id, elector.get_class), as: :elector do |f|
  - if elector.errors.any?
    .alert.alert-danger
      %h3.h4 Merci de corriger les erreurs ci-dessous
      %ul.list
        - elector.errors.full_messages.each do |msg|
          %li= msg

  .form-group
    .form-check
      = check_box :elector, :can_vote, {class: 'form-check-input'}, true, false
      %label.form-check-label Peut voter ?

  .form-group
    = f.label :note
    = text_field :elector, :note, class: 'form-control'
    %p.text-muted
      Cette note sera affichée lors des votes si ce dernier n'est pas autorisé à voter.


  .float-right
    %button.btn.btn-primary{type: :submit}
      Enregistrer
