.breadcrumbs
  .page-header
    %h1 Mes votes

.content.mt-3
  .container-fluid
    .card
      .card-header
        .float-left
          = @campaign.structure_name
          \-
          %strong= @campaign.name
        .card-actions.float-right
          = link_to :campaigns, class: 'btn btn-default' do
            = icon "angle-left"
            Revenir aux campagnes

      .card-body
        - if !@campaign.elector_can_vote?(@elector)
          %p.alert.alert-info
            Vous n'êtes pas autorisé à voter pour la raison suivante :
            %br
            %strong.text-danger= @campaign.get_elector_note(@elector)

        .row
          .col-md-6
            = form_for :votings, url: voting_path do |f|
              = f.hidden_field :campaign_id, value: @campaign.id
              %table.table
                - @campaign.motions.each do |motion|
                  %tr{class: "#{(@campaign.elector_can_vote?(@elector) ? 'table-default' : 'table-secondary text-muted')}"}
                    %th
                      = motion.name

                      = hidden_field_tag "voter[#{motion.id}][motion_id]", motion.id
                      - if @campaign.is_public
                        = hidden_field_tag "voter[#{motion.id}][user_id]", @elector.id
                      - else
                        = hidden_field_tag "voter[#{motion.id}][elector_id]", @elector.id

                      = hidden_field_tag "voter[#{motion.id}][voted_at]", DateTime.now()
                      = hidden_field_tag "voter[#{motion.id}][ip]", request.remote_ip

                    %td
                      = hidden_field_tag "vote[#{motion.id}][motion_id]", motion.id
                      = get_field "vote[#{motion.id}][result]", motion.kind, (@campaign.elector_can_vote?(@elector))? nil : true

                - if @campaign.elector_can_vote?(@elector)
                  %tr
                    %td{colspan: 2}
                      %button.btn.btn-success{type: :submit, data:{confirm: 'Attention, une fois le vote effectué, il est impossible de revenir en arrière ! Merci de bien vérifier votre vote avant de valider !'}}
                        = icon 'warning'
                        Voter


