.breadcrumbs
  .page-header
    %h1 Mes votes

.content.mt-3
  .container-fluid
    .card
      .card-header
        .float-left
          = @campaign.structure_name
        .card-actions.float-right
          = link_to :campaigns, class: 'btn btn-default' do
            = icon "angle-left"
            Revenir aux campagnes

      .card-body
        = form_for :votings, url: voting_path do |f|
          = f.hidden_field :campaign_id, value: @campaign.id
          .row
            .col-md-6
              %h2.h5.mb-3
                Bulletin de vote

              - if @user.has_voted?(@campaign) && @presidences.blank?
                %p.text-danger Vous avez déjà rempli tous vos bulletins
              - else
                .well.bg-light.p-3
                  %h3.h5.text-center.mb-3= @campaign.name
                  %table.table
                    - @campaign.motions.each do |motion|
                      %tr
                        %th
                          = motion.name
                        %td
                          = hidden_field_tag "vote[#{motion.id}][motion_id]", motion.id
                          = get_field "vote[#{motion.id}][result]", motion.kind

            .col-md-6
              .alert.alert-info
                %p
                  Il est possible que vous ayez plusieurs bulletins de vote disponibles (en fonction du nombre de présidence et du niveau de reconnaissance).

                %p
                  Chaque ligne, ci-dessous, vous indique en quelle qualité vous votez.

                %p
                  Votre vote peut être différent pour chaque qualité. Pour cela, il suffit de

                %ul.pl-3
                  %li Remplir le bulletin une première fois
                  %li Selectionner la qualité qui correspond
                  %li Valider le vote
                  %li Recommencer autant de fois que nécessaire.


              %h2.h4.mb-3 Mes bulletins en qualité de Président d'église ou d'oeuvre :

              - @presidences.each_with_index do |s, index|

                - if @structure.is_member?(s)
                  - if @structure.member_can_vote?(s) && !@campaign.has_already_vote?(s)
                    // MEMBRE DE L'ASSOC, CAN_VOTE
                    = render 'votings', voter: s

                  - elsif !@structure.member_can_vote?(s)
                    // MEMBRE DE L'ASSOC, MAIS CANT_VOTE
                    .alert.alert-danger
                      %b= "Présidence de <b>#{s.name}</b> (#{s.town})".html_safe
                      %br
                      = @structure.member_cant_vote_note_friendly(s)

                - elsif @campaign.structure_can_vote?(s) && !@campaign.has_already_vote?(s)
                  // NON MEMBRE, CAN VOTE
                  = render 'votings'



              %h2.h4.mb-3 Mon bulletin en qualité de personne physique :

              - if @structure.is_member?(@user)
                - if @campaign.user_can_vote?(@user) && !@campaign.has_already_vote?(@user)
                  // MEMBRE DE L'ASSOC, CAN_VOTE
                  = render 'votings', voter: @user

                - elsif !@structure.member_can_vote?(@user)
                  // MEMBRE DE L'ASSOC, MAIS CANT_VOTE
                  .alert.alert-danger
                    = @structure.member_cant_vote_note_friendly(@user)

              - elsif @campaign.user_can_vote?(@user) && !@campaign.has_already_vote?(@user)
                // NON MEMBRE, CAN VOTE
                = render 'votings', voter: @user


          - unless @campaign.can_vote?
            .alert.alert-danger.mt-3 Les votes n'ont pas encore commencés
          - else
            - if !@user.has_voted?(@campaign) || !@presidences.blank?
              .row
                .col-md-12
                  .text-center.mt-3
                    %button.btn.btn-success.submit-vote{type: :submit}
                      = icon 'warning'
                      JE VALIDE MON VOTE
                      = icon 'warning'

