.breadcrumbs
  .page-header
    %h1 Mes votes

.content.mt-3
  .container-fluid
    .card
      .card-header
        .float-left
          = @campaign.structure_name
        .card-actions.float-right
          = link_to :campaigns, class: 'btn btn-default' do
            = icon "angle-left"
            Revenir aux campagnes

      .card-body
        = form_for :votings, url: voting_path do |f|
          = f.hidden_field :campaign_id, value: @campaign.id
          .row
            .col-md-6
              %h2.h5.mb-3
                Bulletin de vote

              - if @user.has_voted?(@campaign) && @presidences.blank?
                %p.text-danger Vous avez déjà rempli tous vos bulletins
              - else
                .well.bg-light.p-3
                  %h3.h5.text-center.mb-3= @campaign.name
                  %table.table
                    - @campaign.motions.each do |motion|
                      %tr
                        %th
                          = motion.name
                        %td
                          = hidden_field_tag "vote[#{motion.id}][motion_id]", motion.id
                          = get_field "vote[#{motion.id}][result]", motion.kind

            .col-md-6
              .alert.alert-info
                %p
                  Il est possible que vous ayez plusieurs bulletins de vote disponibles (en fonction du nombre de présidence et du niveau de reconnaissance).

                %p
                  Chaque ligne, ci-dessous, vous indique en quelle qualité vous votez.

                %p
                  Votre vote peut être différent pour chaque qualité. Pour cela, il suffit de

                %ul.pl-3
                  %li Remplir le bulletin une première fois
                  %li Selectionner la qualité qui correspond
                  %li Valider le vote
                  %li Recommencer autant de fois que nécessaire.


              %h2.h4.mb-3 Mes bulletins en qualité de Président d'église ou d'oeuvre :

              - @presidences.each_with_index do |s, index|
                - if @campaign.structure_can_vote(s)
                  .form-check
                    = hidden_field_tag "votings[voter][][resource_class]", s.get_class
                    = hidden_field_tag "votings[voter][][is_consultative]", @campaign.structure_vote_kind(s) != "count"

                    = check_box_tag "votings[voter][][resource_id]", s.id, false, class: 'form-check-input voter_check', id: "check_resource_#{s.id}"
                    = label_tag "voter[voter][][resource_class]", class: 'form-check-label', for: "check_resource_#{s.id}" do
                      = "Présidence de <b>#{s.name}</b> (#{s.town})".html_safe
                      %small= "(#{(@campaign.structure_vote_kind(s) == "count") ? 'Vote comptabilisé' : 'Vote consultatif'})"



              %h2.h4.mb-3 Mon bulletin en qualité de personne physique :
              - if @campaign.user_can_vote(@user) && !@campaign.has_already_vote?(@user)
                .form-check
                  = hidden_field_tag "votings[voter][][resource_class]", @user.get_class
                  = hidden_field_tag "votings[voter][][is_consultative]", @campaign.user_vote_kind(@user) != "count"
                  = check_box_tag "votings[voter][][resource_id]", @user.id, false, class: 'form-check-input voter_check', id: 'as_user'
                  = label_tag "voter[voter][][resource_class]", class: 'form-check-label', for: 'as_user' do
                    = @user.level
                    %small= "(#{(@campaign.user_vote_kind(@user) == "count") ? 'Vote comptabilisé' : 'Vote consultatif'})"




          - unless @campaign.can_vote?
            .alert.alert-danger.mt-3 Les votes n'ont pas encore commencés
          - else
            - if !@user.has_voted?(@campaign) || !@presidences.blank?
              .row
                .col-md-12
                  .text-center.mt-3
                    %button.btn.btn-success.submit-vote{type: :submit}
                      = icon 'warning'
                      JE VALIDE MON VOTE
                      = icon 'warning'

