<head>
  <title>Example</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= vite_client_tag %>

  <%= vite_stylesheet_tag 'typography.scss' %>
</head>
<body>

<div id="app">
  <%= yield %>
</div>

<%= vite_javascript_tag 'application' %>

</body>