.modal-header
  %h4.modal-title.pull-left= @event.title

  %button.btn-close{"type"=>"button", "data-bs-dismiss"=>"modal", "aria-label"=>"Close"}

.modal-body
  %p
    %b Catégorie :
    = @event.category_name

  %p
    %b Dates :
    = "Du #{l @event.start_at} au #{l @event.end_at}"

  %p
    = simple_format @event.description


  - unless @event.files.blank?
    %ul.list-unstyled
      - @event.files.each do |file|
        %li.list-item
          = link_to rails_blob_path(file, disposition: "attachment"), class: "btn btn-link btn-sm" do
            = icon "fa", "download"
            = file.filename

.modal-footer
  %button.btn-sm.btn.btn-danger{"data-bs-dismiss"=>"modal", "aria-label"=>"Close"}
    Quitter