.bg-white.rounded-4.shadow-sm.profile
  .d-flex.align-items-center.px-3.pt-3
    = image_tag @structure.get_logo_url([500, 500]), class: "rounded-circle img-fluid"

    .mx-3
      %h6.mb-0.d-flex.align-items-start.text-body.fs-6.fw-bold
        = @structure.name

  .p-3
    .biography.mb-3.text-italic.text-muted
      = @structure.full_address


    %p.d-flex.flex-row.justify-content-start.align-items-center.mb-3
      - unless @structure.email.blank?
        %span.me-3
          = icon 'fa', 'envelope', class: 'text-muted mr-1'
          = link_to "mailto:#{@structure.email}", class: 'text-decoration-none text-primary' do
            = @structure.email

      - unless @structure.phone_1.blank?
        %span.me-3
          = icon 'fa', 'phone', class: 'text-muted mr-1'
          = link_to "tel:#{@structure.phone_1}", class: 'text-decoration-none text-primary' do
            = @structure.phone_1


%ul#pills-tab.top-osahan-nav-tab.nav.nav-pills.justify-content-center.align-items-stretch.nav-justified.mb-4.shadow-sm.rounded-4.overflow-hidden.bg-white.mt-4{:role => "tablist"}

  %li.nav-item{:role => "presentation"}
    %button#pills-staff-tab.h-100.p-3.nav-link.text-muted.active.show{"aria-controls" => "pills-staff", "aria-selected" => "false", "data-bs-target" => "#pills-staff", "data-bs-toggle" => "pill", :role => "tab", :type => "button"} Equipe

#pills-tabContent.tab-content
  #pills-staff.tab-pane.fade.active.show{"aria-labelledby" => "pills-staff-tab", :role => "tabpanel"}
    - @structure.staff.each do |staff|
      .bg-white.p-2.shadow-sm.mb-1
        .row
          .col
            = link_to me_user_path(staff.user), class: "text-secondary" do
              %strong= staff.user_name
          .col
            %em.mr-3= staff.function
          .col
            %span.mr-3= staff.get_dates