!!!
%html
  %head
    %meta{ name: "viewport", content: "width=device-width, initial-scale=1, maximum-scale=1.0"}
    %title Gestion des Votes FNADF/UNADF
    %meta{:name => "description", :content => "Application de votes electroniques de la FNADF"}

    = stylesheet_link_tag 'application', media: 'all'

    = favicon_link_tag "/favicon.ico"
    = csrf_meta_tags


    = javascript_include_tag 'application'

  %body
    / Left Panel
    %aside#left-panel.left-panel
      %nav.navbar.navbar-expand-sm.navbar-default
        .navbar-header
          %button.navbar-toggler{"aria-controls" => "main-menu", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#main-menu", "data-toggle" => "collapse", :type => "button"}
            %i.fa.fa-bars
          %a.navbar-brand{:href => "./"}
            FNADF / UNADF
          %a.navbar-brand.hidden{:href => "./"}
            FU

        #main-menu.main-menu.collapse.navbar-collapse
          = render "layouts/sidebar"
        / /.navbar-collapse
    / /#left-panel
    / Left Panel
    / Right Panel
    #right-panel.right-panel
      / Header
      %header#header.header
        .header-menu
          .col-md-12

            %a#menuToggle.menutoggle.float-left
              = icon 'tasks'



            /= link_to "switch back", "/switch_user/remember_user"

            -  original_user = user_signed_in? && SwitchUser::Provider.init(controller).original_user
            - if original_user
              - next_path = ERB::Util.url_encode "/switch_user/remember_user?remember=false&path=/"
              = link_to "/switch_user?scope_identifier=user_#{original_user.id}&path=#{next_path}", class: 'btn btn-warning' do
                = icon "back"
                Changer d'utilisateurs

            .user-area.dropdown.float-right
              %a.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#"}
                = current_user.name
              .user-menu.dropdown-menu
                = link_to me_path, class: 'nav-link' do
                  %i.fa.fa-.user>
                  Mon profil
                = link_to edit_me_path, class: 'nav-link' do
                  %i.fa.fa.-cog>
                  Modifier mon profil
                = link_to destroy_user_session_path, method: :delete, class: "nav-link" do
                  %i.fa.fa-power.-off>
                  Déconexion

      = yield