.breadcrumbs
  .page-header
    %h1 Mon compte

.content.mt-3
  .container-fluid

    .row.justify-content-md-center
      .col-md-8
        .card
          .card-body
            = form_for @user, url: account_path(@user) do |f|
              - if @user.errors.any?
                .alert.alert-danger
                  %h3.h5 Une ou plusieurs erreurs doivent être corrigées :
                  %ul.pl-3
                    - @user.errors.full_messages.each do |msg|
                      %li= msg


              .row
                .col-md-6
                  .form-group
                    = f.label :firstname
                    = f.text_field :firstname, class: "form-control"
                .col-md-6
                  .form-group
                    = f.label :lastname
                    = f.text_field :lastname, class: "form-control"

              .form-group
                = f.label :email
                = f.email_field :email, class: "form-control"

              .form-group
                = f.label :phone_1
                = f.text_field :phone_1, class: "form-control"

              .form-group
                = f.label :phone_2
                = f.text_field :phone_2, class: "form-control"
              %hr.small
              .form-group
                = f.label :address_1
                = f.text_field :address_1, class: "form-control"
              .form-group
                = f.label :address_2
                = f.text_field :address_2, class: "form-control"

              .row
                .col-md-6
                  .form-group
                    = f.label :zipcode
                    = f.text_field :zipcode, class: "form-control"
                .col-md-6
                  .form-group
                    = f.label :town
                    = f.text_field :town, class: "form-control"

              .form-group
                = f.label :birthdate
                = f.date_field :birthdate, class: "form-control"


              %hr
              .form-group
                = f.label :password
                = f.password_field :password, class: "form-control password"
              .form-group
                = f.label :password_confirmation
                = f.password_field :password_confirmation, class: "form-control password_confirmation"


              .form-check.pl-0
                = check_box_tag :toggle_password, class: 'form-check-input', id: 'toggle-password'
                %label.form-check-label{for: :toggle_password} Voir le mot de passe

              .float-right
                %button.btn.btn-primary{type: :submit}
                  Enregistrer